{% extends 'Garuda/layouts/main.html' %}
{% include 'Garuda/inc/slider.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="heading">
        <h1>ABOUT US<hr></h1>
        
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="{% static 'images/about/about.jpeg' %}">
            </div>
            <div class="about-content">
                <h2>GARUDA CONSTRUCTION </h2>
                <hr>
                <p>GARUDA CONSTRUCTION  is a TAMIL NADU based construction company and a contractor in  all market segments. We are committed to building the highest quality projects. We take pride in our work, because for us excellence is just the starting point.</p>
                <p>Whether we work on state-of-the-art methods of pre-construction processes o r continue to provide quality work post-construction, our hands-on approach and years of experience as a turnkey contractor reflects through every phase of our projects. We have earned recognition over the years for fostering innovation, embracing emerging technologies, undertaking projects, and making a difference to our clients .</p>
            </div>
        </section><br>
    </div>
    <section class="row">
        <div class="card">
            <div class="card-header"><i class="fa fa-book"></i>Our Mission<hr><div>
                <div class="card-body">
                    <p class="para">We are on a mission to serve people by enhancing their quality of life by building their dreams, while pursuing quality.</p>
            </div>
        </div>
    </section>
    <br>
    <section class="row">
        <div class="card">
            <div class="card-header"><i class="fa fa-globe"></i>Our Vision<hr>
                <div class="card-body">
                    <p class="para">
                        * Our vision is to provide state-of-the-art service and market-leading expertise to our clients, even if we have to go an extra mile to provide them added value.<br>
                        * Our vision is to be a trusted global  Contractor changing lives, creating a melodic harmony of customer's happiness and focusing on environmental preservation.In our Garuda Construction , we are dedicated to providing a comprehensive platform for all your construction needs. Whether you're a professional contractor, a construction company owner, a homeowner embarking on a renovation project, or simply interested in the construction industry, we are here to serve you.<br>
                        * Our mission is to be your trusted source of information, guidance, and resources in the construction field. We understand that construction projects can be complex and challenging, and our goal is to simplify the process by offering valuable insights, practical advice, and a wealth of resources.<br>
                        * On our Garuda Construction website, you will find a wide range of content tailored to meet the diverse needs of construction professionals and enthusiasts. From in-depth articles and step-by-step guides covering construction techniques, project management, and industry regulations to inspiring design ideas and expert tips, we strive to provide you with the knowledge and inspiration to succeed in your construction endeavors.<br>
                        * We are committed to delivering accurate and up-to-date information. Our team consists of experienced professionals with extensive knowledge in the construction industry. We stay abreast of the latest trends, advancements, and best practices to ensure that the content we provide is reliable and relevant.<br>
                        * At our Garuda Construction Website, we believe in the power of community and collaboration. We provide a platform where individuals can connect, engage in discussions, and share their experiences. Whether you're seeking advice, looking for recommendations, or simply want to connect with like-minded individuals, our community is here to support you.<br>
                        * In addition to educational resources and community engagement, we also focus on showcasing innovative products, technologies, and sustainable construction practices. We believe in promoting environmentally responsible approaches to construction, and we strive to highlight solutions that contribute to a greener and more sustainable future.<br>
                        * Your satisfaction and success are our top priorities. We are committed to providing a user-friendly website with intuitive navigation, ensuring that you can easily find the information you need. We welcome feedback and suggestions from our users, as we continuously strive to improve and enhance our platform.<br>
                        * Thank you for visiting our Garuda Construction Website. We invite you to explore our extensive collection of resources, engage with our community, and embark on an exciting journey in the world of construction. Together, let's build remarkable structures, transform spaces, and create the future we envision.<br>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
</body>
</html>
{% endblock content %}